
<center>

	<h1>Alternative Regenerative Medicine</h1>


<iframe width="560" height="315" src="https://www.youtube.com/embed/T-yjmewwEzw" frameborder="0" allowfullscreen></iframe>
<br><br>
<a href="pages/home">Admin</a><br>
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
</center>

