<center>

<div class= 'container col-md-4'>
<%= render 'layouts/menu'%>
</div>

<div class= 'container col-md-8'>
	<h1>Alternative Regenerative Medicine</h1>


<iframe width="560" height="315" src="https://www.youtube.com/embed/T-yjmewwEzw" frameborder="0" allowfullscreen></iframe>
<br><br>
<a name="firstemail"><h2>Stroke recovery Info and testimonials<h2></a><br>
<em>August 26, 2014 11:35 AM<br>
From	<br>
Vishvambarvyasa das brahmacari JPS<br>
To	<br>
HH Jayapataka Swami<br>
Ekanathgaura Prabhu</em><br>
<p>Hk<br>
Please accept my humble obeiscances. All glories to Srila Prabhupada! All glories to GM
<br><br>
We called the office. They said they cannot hand out phone numbers like they used to due to the new hippa privacy laws. All the info and testimonials they can give are on strokedoctor.com<br><br>

They are prepared to do a video clip testimonial once we go there from the office staff. <br>
They also said they have dealt with hep c patients as well in the past. He has been healing stroke patients for the past 20 years. 
<br><br>
Thanks for sending blood test. <br>
Please also send list of questions and/or concerns you would like me to ask them as well as any topics you would like discussed on video. 
<br><br>
Also once there we can do a skype between you and them and do a recording for GM. Please let me know and I will set one up. <br><br>

In regard to airfare we have decided to rent a car and drive down so do not worry about airfare. <br><br>

Thanks so much Eka<br>
Wishing the best <br>
Your humble servant, <br>
VVD<br>
</p>


<a name="secondemail"><h2>Alternative Regenerative Medicine Info and Video<h2></a><br>
<em>September 03, 2014 12:54 AM<br>
From	<br>
Vishvambarvyasa das brahmacari JPS<br>
To	<br>
Ekanathgaura Prabhu</em><br>
<p>Hare Krishna <br>
Please accept my humble obeiscances. All glories to Srila Prabhupada! All glories to GM!<br>
<br>
Haribol Eka! We just got back from the drive to Dr Steenblocks office in California. Got lots of great info which I will include below. Saksad Dhari pr contacted me about himself about GM requesting him to go to office or sending Laguna beach devotee to office to check out. At this current time I would not suggest it. The manager has already told us that the office is very small and they don't like people interfering with the patients. We were very lucky that because she knew we drove all that way she allowed us to talk and tour the office. At the moment they seem very favorable to letting GM enter program. The manager at the beginning was concerned with us videoing due to privacy policy. They let us video - so please also do not send this link or share with anyone. Please let me know if you are able to access the video.<br><br>

Video Link: http://youtu.be/T-yjmewwEzw<br>
Please let me know if you have any trouble opening. <br>
<br>
Thanks for your understanding and opportunity to serve GM. <br>
Your humble servant, VVD</p>
<br><br><br>


<br><br>
<a name="thirdemail"><h2>RE: First hit...<h2></a><br>
<em>September 05, 2014 1:34 PM<br>
From	<br>
Vishvambarvyasa das brahmacari JPS<br>
To	<br>
Ekanathgaura Prabhu</em><br>

<p>Haribol Eka,<br>
<br>
PAMHO AGTSP AGTGM<br>
<br>
The guy who runs it is named Stephen Barrett. He is a Medical doctor without a degree. He puts down all natural treatments including the chiropractic that my dad does as well as all alternative treatments. <br>
 I'm shocked that an alternative naturopath and Ayurvedic doctor like Joe Guarino would be supporting a medic and putting down his own profession. Here are two links from quackwatch on ayurveda and acupuncture and chiropractic and how they don't work. If you would like more, please feel free to check out quackwatch.com. There are tons of info putting down all types of alternative treatments. Also I have included links of Dr. Steenblocks response to it and another reporters response. Also I can't say much for the doctor who sent this because he obviously didn't do his research thoroughly enough - basing it just off one link he saw. Anyone can get to the top of a google page. You can pay to get to the top. If you would like more articles or proof of Steenblock's credibility - shoot me an email.

<br><br><br>

Here are some articles by Dr. Steenblock responding to quackwatch:<br><br>

http://www.davidsteenblock.net/a-skeptical-look-the-rest-of-the-story/
http://biotheorist.files.wordpress.com/2012/05/wholistic-medicine-unstoppable-juggernaut-or-losing-ground-to-mainstream-doctors-and-quackbusters.pdf
http://biotheorist.files.wordpress.com/2012/05/goliath-v-david.pdf

<br><br>
Here are some articles by quackwatch:<br>
A Few Thoughts on <br>
Ayurvedic Mumbo-Jumbo<br>

http://www.quackwatch.com/04ConsumerEducation/chopra.html<br><br>

 
<br><br><br><br>

Be Wary of Acupuncture, Qigong, <br>
and "Chinese Medicine"<br>

<br><br>
http://www.quackwatch.com/01QuackeryRelatedTopics/acu.html -<br>
<br>
Don't Let Chiropractors Fool You<br>
<br><br>

http://www.quackwatch.com/01QuackeryRelatedTopics/chiro.html<br>


<br><br><br><br>
Thanks<br>
Yhs's,<br><br>
Dr. Victor T. Palffy D.C., B.C.A.O., F.I.A.M.A, C.a.d., I.M.E <br>
Dr. Vyasadev K. Palffy B.A.M.S., B.C.T., D.C. <br>

<br><br>
<br>
Sent from my iPhone<br>
<br>
On Sep 5, 2014, at 11:21 AM, Eka <ekgjps@gmail.com> wrote:<br>
<br><br><br>



Begin forwarded message:
<br>
From: joe guarino <joeguarino@live.com><br>
Date: 5 September 2014 19:17:06 GMT+5:30<br>
To: ekanath dasa <ekgjps@gmail.com><br>
Subject: First hit...<br>

http://www.quackwatch.com/11Ind/steenblock3.html<br>

<br><br>
Joseph Guarino L. Ac., Dipl. Ac., MTOM
<br><br>
Primary Care Physician/Internal Medicine<br><br>

Medical Acupuncture Specialist   <br><br>

Herbal - Homeopathic - Ayurvedic Medicine<br>
Phone:   + 91- 815 - 993 - 8150  (India)<br>
<br>
email:    joeguarino@live.com<br><br><br>



Current Base: West Bengal India
<br>
**********NOTE**********<br>
HIPAA - PRIVILEGED CONFIDENTIAL COMMUNICATION -- DO NOT FORWARD -- DO NOT DUPLICATE.  The information contained in this email message is privileged and confidential;  and is intended only for use of the individual or entity named above.  If the reader of this message is not the intended recipient, or the employee or agent responsible to deliver it to the intended recipient, you are hereby notified that any dissemination, distribution or copying of this communication is strictly prohibited. If you have received this communication in error, please immediately notify us by telephone + 91- 815 - 993 - 8150  (India) , and destroy the original message. Thank you.<br>

</p><br><br><br><br>



<a name="fourthemail"><h2>RE: Reg Steam Cell Treatment<h2></a><br>
<em>September 09, 2014 10:15 PM<br>
From	<br>
Vishvambarvyasa das brahmacari JPS<br>
To	<br>
Ekanathgaura Prabhu<br>
HH Jayapataka Swami<br>
Maha Varaha</em><br>


<p>


Hare Krishna Eka,<br>
PAMHO AGTSP AGTGM<br><br>

Yes, the reason it is not approved by FDA is because FDA has only been monitoring embryonic stem cells from a donor to a receiver. This can have side effects like tumors.<br>
 Dr. Steenblock, on the other hand, takes stem cells from the bone marrow from the recipient then re-injects the same bone marrow stem cells back into the SAME body (recipient).  <br>
Hence it is an alternative medicine. Unlike in the medical profession, bone marrow transplant indicates a transplant from one person to another (donor to recipient). <br>
Hence, addressing the concern of the immune problems, if one does not have a strong immune system to the donors stem cells - then yes - the immune system would suffer. <br>
This is what the medical field is discussing and what the FDA is deciding upon. 
What Dr. Steenblock is doing is cutting edge alternative medicine, because by transplanting your <br>
own stem cells back into you - there can be no concern for immune deficiency or side effects.<br>
<br>
Addressing being banned in many states: <br>
As in many a situation, especially with alternative medicines and US regulations, it takes time for treatments to be approved, especially with sticky US laws.<br>
 FDA being the main controller of any alternative medicine practice means that if it is NOT FDA approved then it can't be practiced. <br><br><br><br>





California has been on the cutting edge and the provoker of many treatments and practices throughout the states.<br><br>

 "California voters in November 2004 approved Proposition 71, creating a 
US $3 billion state taxpayer-funded institute for stem cell research, the 
California Institute for Regenerative Medicine."<br><br>

- http://www.washingtonpost.com/wp-dyn/content/article/2005/07/29/AR2005072900158.html<br><br><br>


  California has been the first to do quite a few things and for it to then be later (after decades of not so smart politicians and scientists to finally be widely accepted once many have died).  <br>
California, when it first heard of federal funds being withheld hence stopping research in the field of stem cell therapy, set up their own law - allowing experimentation using state tax payer money. <br>
Now they have been established as forms of treatments by the doctors who have been practicing and have been successful for a good while.  Of course, as with anything Alternative
FDA will again stall.<br><br> 

Many herbal medicines are also banned - one of them: <br>
Avemar ( a cancer eliminator - used popularly in Europe but also not FDA approved)
   
<br><br>
Quoting a government website:<br>

"Graft-versus-host disease (GVHD) is a complication that can occur after a stem cell or bone marrow transplant in <br>

which the newly transplanted donor cells attack the transplant recipient's body."
<br><br>

http://www.nlm.nih.gov/medlineplus/ency/article/001309.htm<br><br>

As we can see from above, it describes a donor and recipient. In this case the donor is factored out leaving only a recipient. Hence no possible outcome of GVHD disease.  <br><br>

Fake clinic conundrum:<br>
Yes I have also heard and have come across the same. This was why I am grateful that Eka and GM asked us to visit the clinic. All the treatments that 
are used in the clinic definitely work as my dad can attest to. Not to mention the rest of the treatments used in the office are FDA certified. Now why go to Dr. Steenblock versus
another stem cell doctor and how to determine if they are fake. For one - Dr. Steenblock has recorded lectures teaching other prospective stem cell doctors oversees, presenting
his research and conclusions.  Hoping in order to spread the word throughout the D.O. profession that there is a cure.
Please note on the CBS news website that it mentions that this stem cell "fraud" is present overseas by con-men, NOT certified US doctors. Dr. Steenblock is a certified Osteopath.<br>
Overseas especially like the situation in Mexico (as mentioned in the CBS article and video) there are no real rules to call yourself a doctor. The case mentioned in the articles through CBS is in regards to cerebral palsy not stroke. Also in accordance with that - Dr. Steenblock has also treated cerebral palsy effectively. <br><br>

As I've mentioned early Dr. Steenblock and his office don't even try to persuade you to come in, every question we have asked has been fully answered beyond our expectations..<br><br>
Fakes also claim that they are FDA approved. One thing that Dr. Steenblock does not do on any of his websites or even in person.
<br><br>
Also in regard to 5 year later brain tumor, this is in regard to CANCER patients, also accepting donor stem cells. Note this treatment excludes all donors. 

<br><br>
In Regard to the articles mentioned:
<br><br>
In addition, the first article mentioned is outdated. Embryonic stem cells were banned due to many tumors in recipients. In Dr. Steenblocks treatment - embryonic stem cells are not used.<br>
The second article,the stem cells side affects only appear because of a high dose of chemotherapy. <br>
In the third article the boy was given embryonic stem cells which can mutate easily. Again this type of stem cell is not used. 
<br><br>
Here is a US article that is from this year (Mar 24, 2014) "Scientists show that stem cells don't cause cancer"<br><br>
http://abcnews.go.com/Health/Healthday/story?id=4510452<br><br>

PLEASE NOTE: Dr. Steenblock DOES NOT USE embryonic stem cells.  Embryonic stem cells are a thing of the past.<br><br><br>


Yhs,<br>
Dr. Victor T. Palffy   D.C., B.C.A.O., F.I.A.M.A, C.a.d., I.M.E <br>
Dr. Vyasadev K. Palffy B.A.M.S., B.C.T., D.C. <br>


<br>
<br><br><br><br>

On Sep 07, 2014, at 02:00 PM, Eka <ekgjps@gmail.com> wrote:



<br><br><br><br>
Begin forwarded message:<br><br>

From: "Saksad Hari Das \(JPS\) \(NJ-USA\)" <shdjps@yahoo.com><br>
Date: 7 September 2014 22:54:13 GMT+4<br>
To: "Guru Maharaj J." <jayapataka@gmail.com><br>
Cc: Ekanath Gaura Das <ekgjps@gmail.com>, Maha Varaha <mahavaraha@gmail.com>, Sri Sakti Devi Dasi <srisaktijps@yahoo.com>
Subject: Reg Steam Cell Treatment<br>
Reply-To: "Saksad Hari Das \(JPS\) \(NJ-USA\)" <shdjps@yahoo.com><br><br>

Hare Krishna Dear Guru Maharaj, <br>
Please accept my most respectful obeisances!!! <br>
All glories to You!!! <br>
All glories to Srila Prabhupada!!!  <br>
 <br><br>
As you requested I have contacted Visvambar Vyasa Pr many times in phone/whatsapp and skype, I asked him the contact details of the doctor in LA  to find out more about the treatment. But he said he will send all the details to you directly. But I have researched in the internet about this treatment.<br><br><br>


1) It is not approved by FDA<br>
2) It is banned in many states<br>
3) It reduces the immune system of the patient<br>
5) Major side effect is GVHD disease which will impact many parts of the body
6) After 5 years chances of getting cell related issues in the body (including tumar in the brain)<br>
7) CBS 60 minutes investigation documentary says that there are many fake clinic in the market<br><br>

Below are some links for the side effects and FDA regulation in USA.<br><br>

http://www.cancer.ca/en/cancer-information/diagnosis-and-treatment/stem-cell-transplant/side-effects-of-stem-cell-transplant/?region=on<br><br><br>


http://www.cancerresearchuk.org/cancer-help/about-cancer/treatment/transplant/side-effects-of-bone-marrow-and-stem-cell-transplants<br><br><br>


http://www.explorestemcells.co.uk/rare-side-effects-stem-cell-therapy.html<br><br><br>


FDA is not approved and it is banned in many states<br>
http://www.fda.gov/forconsumers/consumerupdates/ucm286155.htm<br><br>
 
In the side effects there are many medical related terms they have mentioned <br>which I am not able to understand. <br><br>

Hare Krishna <br>
Your Humble Servant,<br>
Saksad Hari Das<br>
</p><br><br><br><br>
</div>
</center>