<div class = 'fixed-right'>
<h3> Emails (In Order) </h3>
<a href='#firstemail'> 1. Stroke recovery Info and testimonials</a><br>
<a href='#secondemail'>2. Alternative Regenerative Medicine Info and Video
</a><br>
<a href='#thirdemail'>3. RE: First hit...
</a><br>
<a href='#fourthemail'>4. RE: Reg Steam Cell Treatment
</a><br>
<br>
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
</div>